/*high level wrapper*/
.map-wrapper {
  position: relative;
  margin: 0px;
}

/*global control*/
.fullscreen-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px 5px;
  cursor: pointer;
  font-size: 12px;
  transition: all 0.2s;
}

.fullscreen-btn:hover {
  background: white;
  border-color: pink;
}

/*map container*/
#map-container {
  position: relative;
  margin: 0px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 5px;

  transition: all 0.3s ease;
}

/*individual map slots*/
.map-panel {
  position: relative;
  height: 500px;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.map-panel .html-widget,
.map-panel .leaflet {
  width: 100%;
  height: 100%;
}

/*full-screen overrides*/
#map-container.fullscreen {
  position: fixed;
  inset: 5px;
  z-index: 9999;

  background: rgba(255, 255, 255, 0.8);
  padding: 0;
  margin: 0;

  flex-direction: row;
  gap: 5px;
}

#map-container.fullscreen .map-panel {
  width: 100vw;
  height: 100vh;
}

body.fullscreen-active::before {
  content: '';
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9998;
  pointer-events: none;
}
