.map-container {
  position: relative;
}

.fullscreen-dual {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: white;
}

.fullscreen-dual .leaflet-container {
  height: 100vh !important;
}
